USE [master]
GO
/****** Object:  Database [QUANLYTV2]    Script Date: 1/11/2022 10:54:10 PM ******/
CREATE DATABASE [QUANLYTV2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QUANLYTV2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2\MSSQL\DATA\QUANLYTV2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QUANLYTV2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER2\MSSQL\DATA\QUANLYTV2_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QUANLYTV2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QUANLYTV2]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 1/11/2022 10:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[Ma_Khach_Hang] [varchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Ten_Khach_Hang] [nvarchar](255) NOT NULL,
	[Ngay_Sinh] [date] NOT NULL,
	[Dia_Chi] [nvarchar](255) NOT NULL,
	[So_Dien_Thoai_KH] [nvarchar](12) NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[Ma_Khach_Hang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHA_XUAT_BAN]    Script Date: 1/11/2022 10:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHA_XUAT_BAN](
	[Ma_Nha_Xuat_Ban] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Nha_Xuat_Ban] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_NHA_XUAT_BAN] PRIMARY KEY CLUSTERED 
(
	[Ma_Nha_Xuat_Ban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEU_MUON]    Script Date: 1/11/2022 10:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEU_MUON](
	[Ma_Phieu_Muon] [int] IDENTITY(1,1) NOT NULL,
	[Ma_Khach_Hang] [varchar](255) NOT NULL,
	[Ma_Sach] [varchar](255) NOT NULL,
	[Ma_Admin] [varchar](255) NOT NULL,
	[Ngay_Muon] [date] NOT NULL,
	[Han_Tra] [date] NOT NULL,
	[Ngay_Tra] [date] NULL,
 CONSTRAINT [PK_PHIEU_MUON] PRIMARY KEY CLUSTERED 
(
	[Ma_Phieu_Muon] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUAN_TRI]    Script Date: 1/11/2022 10:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUAN_TRI](
	[Ma_Admin] [varchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[Ten_Admin] [nvarchar](50) NOT NULL,
	[So_Dien_Thoai_Admin] [nvarchar](15) NOT NULL,
 CONSTRAINT [PK_QUAN_TRI] PRIMARY KEY CLUSTERED 
(
	[Ma_Admin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SACH]    Script Date: 1/11/2022 10:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SACH](
	[Ma_Sach] [varchar](255) NOT NULL,
	[Ten_Sach] [nvarchar](255) NOT NULL,
	[Ma_The_Loai] [int] NOT NULL,
	[Ma_Tac_Gia] [int] NOT NULL,
	[Ma_Nha_Xuat_Ban] [int] NOT NULL,
	[Tinh_Trang] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_SACH] PRIMARY KEY CLUSTERED 
(
	[Ma_Sach] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TAC_GIA]    Script Date: 1/11/2022 10:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAC_GIA](
	[Ma_Tac_Gia] [int] IDENTITY(1,1) NOT NULL,
	[Ten_Tac_Gia] [nvarchar](100) NOT NULL,
	[Quoc_Tich_Tac_Gia] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_TAC_GIA] PRIMARY KEY CLUSTERED 
(
	[Ma_Tac_Gia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 1/11/2022 10:54:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[Ma_The_Loai] [int] IDENTITY(1,1) NOT NULL,
	[Ten_The_Loai] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[Ma_The_Loai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [FK_PHIEU_MUON_fk3] FOREIGN KEY([Ma_Admin])
REFERENCES [dbo].[QUAN_TRI] ([Ma_Admin])
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [FK_PHIEU_MUON_fk3]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [PHIEU_MUON_fk0] FOREIGN KEY([Ma_Khach_Hang])
REFERENCES [dbo].[KHACH_HANG] ([Ma_Khach_Hang])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [PHIEU_MUON_fk0]
GO
ALTER TABLE [dbo].[PHIEU_MUON]  WITH CHECK ADD  CONSTRAINT [PHIEU_MUON_fk1] FOREIGN KEY([Ma_Sach])
REFERENCES [dbo].[SACH] ([Ma_Sach])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[PHIEU_MUON] CHECK CONSTRAINT [PHIEU_MUON_fk1]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [SACH_fk1] FOREIGN KEY([Ma_Tac_Gia])
REFERENCES [dbo].[TAC_GIA] ([Ma_Tac_Gia])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [SACH_fk1]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [SACH_fk2] FOREIGN KEY([Ma_The_Loai])
REFERENCES [dbo].[THE_LOAI] ([Ma_The_Loai])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [SACH_fk2]
GO
ALTER TABLE [dbo].[SACH]  WITH CHECK ADD  CONSTRAINT [SACH_fk3] FOREIGN KEY([Ma_Nha_Xuat_Ban])
REFERENCES [dbo].[NHA_XUAT_BAN] ([Ma_Nha_Xuat_Ban])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[SACH] CHECK CONSTRAINT [SACH_fk3]
GO
USE [master]
GO
